$break-small: 42.5em
$break-big: 62.5em

// Mixins
=font-face($family, $path, $weight: normal, $style: normal)
    @font-face
        font-family: $family
        font-display: swap
        src: local($family), url('#{$path}.ttf') format('truetype')
        font-weight: $weight
        font-style: $style
+font-face('Josefin Sans', './fonts/Josefin-Sans/JosefinSans-Light', 300)
+font-face('Josefin Sans', './fonts/Josefin-Sans/JosefinSans-Regular', 400)
+font-face('Josefin Sans', './fonts/Josefin-Sans/JosefinSans-SemiBold', 600)

@keyframes shrink
    0%
        width: 120%
    100%
        width: 100%

@keyframes slideDown
    0%
        opacity: 0
        transform: translateY(-6rem)
    100%
        opacity: 1
        transform: translate3d(0,0,0) translateY(0)

@keyframes slideUpScroll
    0%
        opacity: 0
        transform: translate(-50%, 3rem)
    100%
        opacity: 1
        transform: translate3d(0,0,0) translate(-50%, 0)

@keyframes slideUp
    0%
        transform: translateY(0)
    100%
        transform: translate3d(0,0,0) translateY(-4rem)

@keyframes slideLeft
    0%
        opacity: 0
        transform: translateX(-4rem)
    100%
        opacity: 1
        transform: translate3d(0,0,0) translateX(0)

@keyframes heroIconSlideLeft
    0%
        opacity: 0
        transform: translate(10%, -50%)
    100%
        opacity: .1
        transform: translate3d(0,0,0) translate(-10%, -50%)

@keyframes slideRight
    0%
        opacity: 0
        transform: translateX(4rem)
    100%
        opacity: 1
        transform: translate3d(0,0,0) translateX(0)

@keyframes fadeIn
    0%,
        opacity: 0
        transform: translateY(-3rem)
    100%
        transform: translate3d(0,0,0) translateY(0)
        opacity: 1

@keyframes fadeOut
    0%,
        opacity: 1
        transform: translateY(0)
    100%
        transform: translate3d(0,0,0) translateY(-3rem)
        opacity: 0

*
    padding: 0
    margin: 0

*, *::before, *::after
    box-sizing: inherit

::-webkit-scrollbar
    width: 8px
    background-color: #F5F5F5

::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #F5F5F5

::-webkit-scrollbar-thumb
    background: #343434

::-webkit-scrollbar-thumb:hover
    background: #555

html
    font-family: Josefin Sans, Ubuntu, sans-serif
    line-height: 1.5
    box-sizing: border-box
    color: #343434

body
    background: #e7e9ee
    position: relative

main
    overflow-x: hidden

.bold
    font-weight: bold

.semi-transparent
    opacity: .5

.sr-only
    border: 0 !important
    clip: rect(1px, 1px, 1px, 1px) !important
    clip-path: inset(50%) !important
    height: 1px !important
    margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important
    width: 1px !important
    white-space: nowrap !important

.highlight
    transition: all .2s
    position: absolute
    top: -4rem
    left: -1.5rem
    height: 2rem
    width: 2rem
    background: #4ea4bf
    z-index: -1
    display: block
    transform: translateX(-50%) rotate(45deg)
    transform-origin: center

.hover-line
    display: inline-block
    color: white
    position: relative
    font-weight: 600
    line-height: inherit
    outline: none
    text-decoration: none
    &::after
        content: ''
        position: absolute
        left: 0
        display: block
        height: 2px
        width: 0
        border-radius: .5rem
        background: white
        transition: width .3s ease-in-out
    &:hover::after, &:focus::after
        width: 100%

.preloader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    overflow: hidden
    z-index: 1000
    &__pic
        position: absolute
        top: -2rem
        will-change: transform
        transform: translate3d(0,0,0) translateZ(0)
        left: 0
        width: 100%
        z-index: 1000
        transform-origin: top
        backface-visibility: hidden
        transform: scaleX(1.3) scaleY(1.75)
        animation: preloader 1.7s ease 1.5s forwards
        path
        fill: #387f99
    &__text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 1005
        animation: textFadeOut 400ms ease 1.7s forwards, fillText 500ms ease forwards 1.2s
        & > path:nth-of-type(1)
            stroke-dasharray: 440.0051574707031
            stroke-dashoffset: 440.0051574707031
            animation: preloaderText 600ms ease forwards
        & > path:nth-of-type(2)
            stroke-dasharray: 363.2081604003906
            stroke-dashoffset: 363.2081604003906
            animation: preloaderText 600ms ease forwards .2s
        & > path:nth-of-type(3)
            stroke-dasharray: 253.4559783935547
            stroke-dashoffset: 253.4559783935547
            animation: preloaderText 600ms ease forwards .4s
        & > path:nth-of-type(4)
            stroke-dasharray: 253.4559783935547
            stroke-dashoffset: 253.4559783935547
            animation: preloaderText 600ms ease forwards .6s
        & > path:nth-of-type(5)
            stroke-dasharray: 335.2448425292969
            stroke-dashoffset: 335.2448425292969
            animation: preloaderText 600ms ease forwards .8s

@keyframes preloaderText
    100%
        stroke-dashoffset: 0

@keyframes fillText
    0%
        fill: transparent
    100%
        fill: white

@keyframes textFadeOut
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes preloader
    100%
        transform: scaleX(1.3) scaleY(0)

.site-header
    z-index: 100
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 5rem
    display: flex
    align-items: center
    padding: 0 1rem
    justify-content: space-between
    &__logo
        color: white
        font-weight: 300
        line-height: 1
        text-transform: uppercase
        font-size: 1.2rem
        .bold
            font-weight: inherit
            letter-spacing: 4.8px
    .site-nav
        background: #ffffff
        width: 100%
        position: fixed
        top: 0
        left: 120%
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3)
        transition: all .3s cubic-bezier(.24, .45, .44, .93)
        &__ul
            list-style: none
            margin-left: 0.5rem
            width: calc(100% - 3rem)
            max-width: 40rem
            height: 5rem
            display: flex
            flex-direction: row
        &__li
            flex: 1
            display: flex
            align-items: center
            justify-content: center
        &__link
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            text-decoration: none
            font-size: 1rem
            color: #343434
            transition: transform .2s ease
            &:focus, &:hover
                transform: translateY(.25rem)
        &.show
            transform: translateX(-120%)
            z-index: 100
    .hamburger
        height: 5rem
        width: 3rem
        border: none
        position: fixed
        right: 0
        z-index: 100
        background: transparent
        cursor: pointer
        &__line
            height: 5px
            width: 2rem
            border-radius: 3px
            background-color: #fff
            position: absolute
            border: 1px solid rgba(0, 0, 0, .5)
            top: calc(50% - 10px)
            right: 8.8px
            transition: all .15s ease-in-out, background .35s ease-out
            &:nth-of-type(2)
                top: calc(50% - 2.5px)
            &:nth-of-type(3)
                top: calc(50% + 5.5px)
        &:hover
            opacity: .7
            transform: scale(1.1)
        &:focus
            transform: scale(1.1)
            outline: none
        &.is-active
            .hamburger__line:nth-of-type(2)
                transform: rotate(45deg) scale(0.65)
                top: 45%
            .hamburger__line:nth-of-type(3)
                opacity: 0
            .hamburger__line:nth-of-type(4)
                transform: rotate(-45deg) scale(0.65)
                top: 45%
            .hamburger__line
                opacity: 1
                right: 4.4px
                width: 85%
                background-color: #343434
                transform-origin: center
        &.blackline
            .hamburger__line
                background-color: #333

@media (max-width: 21.25em)
    .site-header
        .site-nav__link
            font-size: .85rem

@media (min-width: $break-small)
    .site-header
        padding-left: 2rem
        &__logo
            font-size: 1.4rem
            .bold
                letter-spacing: 5.2px
        .hamburger
            right: 2rem

@media (min-width: $break-big)
    .site-header
        .site-nav
            &__ul
                margin: 0 auto
            &__link
                font-size: 1.2rem

.hero
    padding-top: 6.5rem
    min-height: 35rem
    height: 100vh
    position: relative
    display: flex
    overflow-x: hidden
    flex-direction: column
    justify-content: space-around
    background: linear-gradient(to right top, #8cc7c3, #6bb6c0, #4ea4bf, #3e90bc, #437ab4), url('../img/gplaypattern.png')
    background-blend-mode: multiply
    &__bg-icon
        position: absolute
        top: 50%
        right: 0
        opacity: 0
        color: white
        font-size: calc(20vh + 20vw)
        transform: translate(0, -50%)
        animation: heroIconSlideLeft 1s cubic-bezier(.24, .45, .44, .93) forwards 2.3s
    &__sub-heading, &__heading
        color: white
        text-align: center
        opacity: 0
        animation: slideLeft 1s cubic-bezier(.24, .45, .44, .93) forwards 2.3s
    &__heading
        font-size: 2.8rem
        line-height: 1.25
    &__sub-heading
        color: #afd3da
        font-size: 1.6rem

    .scroll-down
        position: absolute
        top: 0
        left: 50%
        min-width: 3rem
        text-align: center
        font-weight: 300
        transform: translateX(-50%)
        text-decoration: none
        color: white
        transition: opacity .3s
        padding-top: 4.5rem
        animation: slideUpScroll 1s cubic-bezier(.24, .45, .44, .93)
        transition: .2s ease-out
        &:hover, &:focus
            transform: translateX(-50%) translateY(-.25rem)

        &__wrapper
            margin-top: 2.5rem
            height: 12.5rem
            padding-bottom: 4rem
            position: relative
        &__line
            position: absolute
            top: 0
            left: 50%
            width: 1.5rem
            height: 1.5rem
            margin-left: -.75rem
            border-left: 1px solid white
            border-bottom: 1px solid white
            transform: rotate(-45deg)
            opacity: 0
            animation: chevorFade 2s infinite
            transition: .2s ease-out
            &:nth-last-of-type(1)
                animation-delay: 0s
            &:nth-of-type(2)
                animation-delay: .15s
                top: 1rem
            &:nth-of-type(3)
                top: 2rem
                animation-delay: .3s

            @keyframes chevorFade
                0%
                    opacity: 0
                50%
                    opacity: 1
                100%
                    opacity: 0

@media (min-width: 24em)
    .hero__heading
        font-size: 3.2rem
    .hero__sub-heading
        font-size: 2rem

@media (min-width: $break-small)
    .hero
        &__heading
            font-size: 4.2rem
        &__sub-heading
            font-size: 2.4rem
        .scroll-down
            &__wrapper
                margin-bottom: 5rem

@media (min-width: $break-big)
    .hero
        min-height: 45rem
        &__text-wrapper
            padding-top: 3rem
            padding-bottom: 5rem
        .scroll-down__wrapper
            margin-bottom: 5rem
        &__heading
            font-size: 6rem
        &__sub-heading
            font-size: 3.2rem

.about-me
    margin: 0 auto
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025)
    padding: 1.5rem
    position: relative
    border-radius: .25rem
    width: 85%
    max-width: 40rem
    background-color: white
    animation: slideUp 1s forwards 1.8s
    .good-looking-guy
        width: 12.5rem
        height: 12.5rem
        border-radius: 50%
        margin: 0 auto 2rem
        display: flex
        align-items: center
        justify-content: center
        padding: 1rem .5rem
        background: linear-gradient(to right top, #8cc7c3, #6bb6c0, #4ea4bf)
        box-shadow: 2px 4px 12px -2px rgba(0, 0, 0, .3)
        overflow: hidden
        position: relative
        z-index: 1
        &__img
            margin-left: 1.75rem
            display: block
            width: 120%
    &__heading
        text-align: center
        font-size: 2.4rem
        font-weight: 300
    &__text
        opacity: 0
        margin: 0 auto
        &.fade-in
            animation: fadeIn 1s cubic-bezier(.24, .45, .44, .93) forwards
        &.fade-out
            animation: fadeOut 1s cubic-bezier(.24, .45, .44, .93) forwards
        &--big
            display: block
            font-size: 1.4rem
    .hobbies
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 25rem
        margin: .5rem auto 1rem
        &__hobby
            display: flex
            height: 100%
            text-transform: uppercase
            font-size: .75rem
            padding: 1rem 0
            text-align: center
            flex-direction: column
            align-items: center
            color: #387F99
            justify-content: space-between
            &-icon
                margin-bottom: .5rem
                font-size: 1.6rem
    &__btn
        margin: 0 auto
        margin-top: 2.5rem
        text-decoration: none
        font-size: 1.6rem
        border: 1px solid #387F99
        display: block
        width: 9rem
        text-align: center
        line-height: 3.2rem
        background: white
        height: 3rem
        color: #387F99
        font-weight: 300
        border-radius: 5px
        transition: all .2s ease
        outline: none

        &:hover, &:focus
            color: white
            transform: translateY(-.25rem)
            background: #387F99

@media (min-width: $break-small)
    .about-me
        margin-top: -3rem
        padding: 2.5rem
        .good-looking-guy
            width: 15rem
            height: 15rem
        &__heading
            font-size: 2.6rem
        &__text
            font-size: 1.2rem
            &--big
                font-size: 1.6rem

@media (min-width: $break-big)
    .about-me
        max-width: 60rem
        &__heading
            font-size: 3rem
        .hobbies
            max-width: 27.5rem
            margin: .5rem auto 1rem
            &__hobby
                font-size: .9rem
                &-icon
                    font-size: 2.2rem

.skills
    margin: 2rem auto 0
    width: 85%
    max-width: 35rem
    &__heading
        margin: 2.5rem 0
        font-weight: 300
        font-size: 2.4rem
        text-align: center
    &__self-esteem
        font-size: 1.4rem
        font-weight: 400
    &__group
        margin: 0 auto 2rem
        display: grid
        max-width: 44rem
        grid-template-columns: 1fr 1fr 1fr
    .skill
        display: flex
        flex-direction: column
        text-align: center
        padding: 0.5rem 1rem 1rem
        opacity: 0
        &.fade-in
            animation: fadeIn .7s cubic-bezier(.24, .45, .44, .93) forwards
        &.fade-out
            animation: fadeOut .7s cubic-bezier(.24, .45, .44, .93) forwards
        &__image
            opacity: 0.78
            height: 2.5rem
            width: 100%
            max-width: 100%
            margin-bottom: 0.5rem
        &__icon
            font-size: 2.5rem
            margin-bottom: .25rem
        &__name
            font-size: .8rem

@media (min-width: $break-small)
    .skills
        &__heading
            font-size: 2.6rem
        &__self-esteem
            font-size: 1.5rem
        &__group
            grid-template-columns: 1fr 1fr 1fr 1fr

@media (min-width: $break-big)
    .skills
        max-width: 50rem
        &__heading
            font-size: 3rem
        &__self-esteem
            font-size: 1.8rem
        .skill
            &__icon
                font-size: 4rem
                margin-bottom: .25rem
            &__name
                font-size: 1.2rem

.portfolio
    width: 85%
    margin: 5rem auto 0
    display: grid
    grid-gap: 2rem
    grid-template-columns: 1fr
    &__heading
        font-size: 2.4rem
        margin-bottom: 1rem
        font-weight: 300
        text-align: center
        grid-column: 1 / -1
    .project.show-text
        .project__thumbnail
            transform: scale(1.1)
            filter: blur(2px)
        .project__figcaption
            opacity: 1
        .project__overlay
            opacity: .7
    .project
        width: 100%
        text-decoration: none
        overflow: hidden
        position: relative
        color: inherit
        border-radius: .25rem
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025)

        &:hover
            .project__thumbnail
                transform: scale(1.1)
            .project__figcaption
                opacity: 1
            .project__overlay
                opacity: .85

        &__box-link:focus
            .project__thumbnail
                transform: scale(1.1)
            .project__figcaption
                opacity: 1
            .project__overlay
                opacity: .85

        &__image
            padding-top: 56.25%
            border-radius: .25rem
        &__thumbnail
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            transition: .25s ease-in-out
        &__figcaption
            display: flex
            flex-direction: column
            text-align: center
            justify-content: center
            align-items: center
            color: #fff
            z-index: 1
            position: absolute
            font-size: .875rem
            top: 0
            left: 0
            width: 100%
            padding: .5rem 1rem
            height: calc(100% - 3rem)
            opacity: 0
            transition: .45s ease-in-out

        &__overlay
            background: linear-gradient(to right top, #8cc7c3, #6bb6c0, #4ea4bf)
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 0
            transition: .45s ease-in-out

        &__links
            position: absolute
            bottom: 0
            width: 100%
            height: 3rem
            background: rgba(0,0,0,7)
            opacity: .8
            transition: .45s ease-out
            display: flex

            & .hover-line::after
                margin-top: -1.5px

            & > a
                color: white
                text-decoration: none
                font-weight: 600
                outline: none
                display: flex
                font-size: 1.1rem
                align-items: flex-end
                padding-bottom: .5rem
                justify-content: center
                min-height: 3rem
                min-width: 3rem

@media (min-width: $break-small)
    .portfolio
        grid-template-columns: 1fr 1fr
        &__heading
            font-size: 2.6rem

@media (min-width: $break-big)
    .portfolio
        grid-template-columns: 1fr 1fr 1fr
        &__heading
            font-size: 3rem

.contact
    margin-top: 3rem
    padding: 4rem 2rem 9rem
    min-height: 57.5rem
    overflow-x: hidden
    background: linear-gradient(to right top, #8cc7c3, #6bb6c0, #4ea4bf, #3e90bc, #437ab4), url('../img/email-pattern.png')
    background-blend-mode: multiply
    color: white
    &__heading
        text-align: center
        font-weight: 300
        font-size: 2.4rem
        margin-bottom: 1.25rem
    &__text
        transform: translateX(-3rem)
        opacity: 0
        font-size: 1.2rem
        & > .hover-line
            line-height: initial
        &.slide-left
            animation: slideLeft 1s cubic-bezier(.24, .45, .44, .93) forwards
    &__wrapper
        display: flex
        flex-direction: column
    &__form
        width: 100%
        opacity: 0
        transform: translateX(3rem)
        &.slide-right
            animation: slideRight 1s cubic-bezier(.24, .45, .44, .93) forwards
        fieldset
            padding: 0
            border: 0
        .form
            &__field
                margin: 1.25rem 0
            &__label
                display: block
                font-size: 1.2rem
                margin-bottom: .35rem
            &__input
                font-family: inherit
                font-size: 1rem
                font-weight: 300
                display: block
                border: none
                width: 100%
                padding: .75rem
                outline: none
                border-radius: 5px
                box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.2)
                transition: transform .15s ease-in-out
                &:focus
                    transform: translateX(.5rem)
                    box-shadow: 0 0 0 4px #387F99, 3px 3px 20px -2px rgba(0,0,0,0.2)
            &__textarea
                min-height: 15rem
                line-height: 1.4
                resize: vertical
            &__submit-btn
                margin: 2.5rem 0 0 auto
                text-decoration: none
                font-size: 1.6rem
                font-family: inherit
                border: 1px solid white
                display: block
                width: 9rem
                box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.3)
                text-align: center
                line-height: 3.2rem
                background: white
                height: 3rem
                color: #387F99
                font-weight: 300
                border-radius: 5px
                cursor: pointer
                transition: all .2s ease
                outline: none
                &:hover
                    transform: translateY(-.25rem)
                &:focus
                    transform: translateY(-.25rem)
                    color: white
                    background: #387F99
    .socials
        margin-top: 4.5rem
        &__wrapper
            display: flex
            width: 14rem
            margin: 0 auto
            justify-content: space-around
            align-items: center
        &__link
            height: 3.5rem
            padding: .25rem
            width: 3.5rem
            text-decoration: none
            color: white
            font-size: 1.2rem
            transition: .2s ease-in-out
            &:hover, &:focus
                transform: translateY(-0.25rem)
                outline: none
                .socials__icon
                    background: white
                    border: 1px solid white
                    color: #387F99
        &__icon
            width: 3rem
            border-radius: 50%
            border: 1px solid #c1eeff
            height: 3rem
            line-height: 3rem
            font-size: 1.4rem
            text-align: center
            transition: .25s ease-in-out

@media (min-width: $break-small)
    .contact__heading
        font-size: 2.6rem

@media (min-width: $break-big)
    .contact
        &__heading, &__text, &__wrapper
            max-width: 40rem
            margin: 0 auto 1.25rem
        &__heading
            font-size: 3rem
        &__form
            .form_label
                font-size: 1.3rem

.site-footer
    position: absolute
    padding: 2rem 0
    bottom: 0
    width: 100%
    text-align: center
    color: white
    &__text
        & .hover-line
            line-height: initial
